/* Main scroll container */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scroll-container::-webkit-scrollbar {
    display: none;
  }


  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

}

/* Each full-screen section */
.scroll-section {
  height: 90vh;
  width: 95%;

  position: sticky;
  top: 5vh;
  margin: 5vh auto;
  scroll-snap-align: start;

  /* Rounded corners */
  border-radius: 40px;
  overflow: hidden;
  /* Ensures content complies with rounded corners */

  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
}

/* Optional colors to visualize sections */
.section-1 {
  background: #d5f27e;
}

.section-2 {
  background: #f67b7b;
}

.section-3 {
  background: #889df3;
}

.section-4 {
  background: #f086e5;
}

.section-5 {
  background: #ffd6d6;
}